*{
   margin: 0;
   padding: 0;
}
header{
   background: url(../Images/surfing.jpg);
   width: 100%;
   background-size: cover;
   background-position:center;
   height: 100vh;
}

h2{
   margin: 40px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-bottom: 20px;
   
}

tr img{
   width:60px;
   height:40px;
}

p.a{
   font-family: 'Times New Roman', Times, serif;
   text-align: left;
   font-size: 1vw;
   line-height: 30px;
   margin: 40px;
   margin-top: 10px;
   
   font-style: oblique;

}

table{
   margin: 20px;
   width: 50px;
   height: 20px;
}

#destination{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

#destination td, #destination th{
   border: 1px solid #ddd;
   padding: 8px;
   line-height: 30px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   
}

#destination tr:nth-child(even){
   background-color: #f2f2f2;
}

#destination tr:hover{
   background-color: #ddd;
}

#destination th{
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(60, 65, 138);
   color: rgb(237, 238, 250);
}

img.tbl{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 95px;
   height:92px;
   border-radius: 50%;
   padding: 15px;
   background-size: cover;
   background-position: center center;
}

td.main{
   text-align: center;
   font-style: oblique;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   color: rgb(112, 112, 112);
}



