*{
    margin: 0;
    padding: 0;
}


header{
    background: url(../Images/homemain.JPG);
    background-size: cover;
    background-position:center;
    height: 100vh;
}

body{
    background-color: rgb(220, 220, 224);
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: rgb(9, 83, 102);
}

.note{
  width: 80%;
  margin: 50px auto;
}

p.a{
    font-size:18px;
    line-height: 50px;
    color: rgb(110, 107, 107);
    text-align: center;
}

h1.a{
    text-align: center;
    font-size: 27px;
    margin-top: 1px;
    margin-bottom: 0.8em;
    margin-top: 8em;
    
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 5px;
    background-color: burlywood;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: 0.6s;
    margin-bottom: 8em;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid orange;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

.single-box:nth-child(1) .img-area{
    background-image: url(../Images/Train.jpg);
}

.single-box:nth-child(2) .img-area{
    background-image: url(../Images/Safari.jpg);
}

.single-box:nth-child(3) .img-area{
    background-image: url(../Images/whale.jpg);
}

.header-text{
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
}

.img-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 15px;
}

.img-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.single-box:hover{
    background: orangered;
    color: rgb(0, 0, 0);
}

.button{
    padding: .8em;
    background-color:rgb(243, 182, 69);
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: .8em auto .8em 0; 
    transition: 0.6s ease;             
}

.button:hover{
    color: white;
}

h2.c{
    font-size: 25px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(75, 73, 73);
    text-align: left;
    margin-bottom: .1px;
   
}

p.x{
    color: rgb(104, 103, 103);
    text-align: left;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: .5px;
    
}




.container{
    width: 100%;
    height: auto;
    background: rgb(220, 220, 224);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:wrap;
}

.list{
    width: 200px;
    height: 300px;
    background: transparent;
    margin:20px;
    box-sizing: border-box;
    font-size:20px;
}

@media screen and (max-width:1200px){
    .list{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .list{
        width:90%;
    }
}

.container ul{
    list-style-type: square;
    line-height: 42px;
    color: rgb(88, 86, 86);
    font-size: 18px;
}

.container ol{
    list-style-type: decimal;
    line-height: 42px;
    color: rgb(88, 86, 86);
    font-size: 18px;

}

.container h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: initial;
    text-decoration:underline;
    font-size: 21.4px;
    
}

.container p{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-style: oblique;
}

